﻿@model KutuphaneWeb.Models.YAZAR



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>YAZAR</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.yazarAdi,"Yazar Adı", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.yazarAdi)
                    @Html.ValidationMessageFor(model => model.yazarAdi)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.yazarSoyadi,"Yazar Soyadı", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.yazarSoyadi)
                    @Html.ValidationMessageFor(model => model.yazarSoyadi)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Listeye Dön", "Index")
    </div>
</body>
</html>
