﻿@model KutuphaneWeb.Models.YAZAR


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>YAZAR</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                Yazar Adı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.yazarAdi)
            </dd>
    
            <dt>
               Yazar Soyadı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.yazarSoyadi)
            </dd>
    
            <dt>
                Kayıt Tarihi
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kayitTarihi)
            </dd>
    
            <dt>
                Kaydeden Kullanıcı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kullaniciId)
            </dd>
    
            <dt>
               Güncelleme Tarihi
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.guncellemeTarihi)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Güncelle", "Edit", new { id = Model.yazarId }) |
        @Html.ActionLink("Listeye Dön", "Index")
    </p>
</body>
</html>
