﻿@model IEnumerable<KutuphaneWeb.Models.YAZAR>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Yeni Kayıt", "Create")
    </p>
    <table class="product-table">
        <tr>
            <th>
                Adı
            </th>
            <th>
             Soyadı
            </th>
           
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.yazarAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yazarSoyadi)
            </td>
            
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id=item.yazarId }) |
                @*@Html.ActionLink("Det", "Details", new { id=item.yazarId }) |*@
                @Html.ActionLink("Sil", "Delete", new { id=item.yazarId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
