﻿@model KutuphaneWeb.Models.UYE
@{
    ViewBag.Title = "Yeni Uye Kayıt";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>UYE</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.ad,"Adı", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ad)
                    @Html.ValidationMessageFor(model => model.ad)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.soyad,"Soyadı", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.soyad)
                    @Html.ValidationMessageFor(model => model.soyad)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.cinsiyet,"Cinsiyet", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cinsiyet)
                    @Html.ValidationMessageFor(model => model.cinsiyet)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.telefon,"Telefon", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.telefon)
                    @Html.ValidationMessageFor(model => model.telefon)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.eposta,"E-posta", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.eposta)
                    @Html.ValidationMessageFor(model => model.eposta)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.adress,"Adres", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.adress, new { @class = "whatever-class", @cols = 30, @rows = 5 })
                    @Html.ValidationMessageFor(model => model.adress)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Listeye Dön", "Index")
    </div>
</body>
</html>
