﻿@model KutuphaneWeb.Models.UYE

@{
    ViewBag.Title = "Uye Sil";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>UYE</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
              Adı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ad)
            </dd>
    
            <dt>
                Soyadı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.soyad)
            </dd>
    
            <dt>
                Cinsiyeti
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cinsiyet)
            </dd>
    
            <dt>
                Telefon
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefon)
            </dd>
    
            <dt>
               E-Posta
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.eposta)
            </dd>
    
            <dt>
              Adres
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.adress)
            </dd>
    
            <dt>
               Kayıt Tarihi
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kayitTarihi)
            </dd>
    
            <dt>
                Kaydeden Kullanıcı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kullaniciId)
            </dd>
    
            <dt>
                Güncelleme Tarihi
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.guncellemeTarihi)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-default" /> |
                @Html.ActionLink("Listeye Dön", "Index")
            </div>
        }
    </div>
</body>
</html>
