﻿@model IEnumerable<KutuphaneWeb.Models.UYE>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Yeni Kayıt", "Create")
    </p>
    <table class="product-table">
        <tr>
            <th>
                Adı
            </th>
            <th>
                Soyadı
            </th>
            <th>
                Cinsiyet
            </th>
            <th>
                Telefon 
            </th>
            <th>
                E-posta
            </th>
            <th>
                Adres
            </th>

            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adress)
            </td>
           
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id=item.uyeId }) |
                @Html.ActionLink("Detay", "Details", new { id=item.uyeId }) |
                @Html.ActionLink("sil", "Delete", new { id=item.uyeId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
