﻿@model KutuphaneWeb.Models.KUTUPHANE



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>KUTUPHANE</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Kütüphane Adı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kutuphaneAdi)
            </dd>
    
            <dt>
                Adres
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.adress)
            </dd>
    
            <dt>
                Kayıt Tarihi
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kayitTarihi)
            </dd>
    
            <dt>
                Kaydededen Kullanıcı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kullaniciId)
            </dd>
    
            <dt>
               Güncelleme Tarihi
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.guncellemeTarihi)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-default" /> |
                @Html.ActionLink("Listeye Dön", "Index")
            </div>
        }
    </div>
</body>
</html>
