﻿@model KutuphaneWeb.Models.KUTUPHANE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>KUTUPHANE</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                Kütüphane Adı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kutuphaneAdi)
            </dd>
    
            <dt>
                Adres
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.adress)
            </dd>
    
            <dt>
                Kayıt Tarihi
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kayitTarihi)
            </dd>
    
            <dt>
                Kaydededen Kullanıcı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kullaniciId)
            </dd>
    
            <dt>
                Güncelleme Tarihi
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.guncellemeTarihi)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Güncelle", "Edit", new { id = Model.kutuphaneId }) |
        @Html.ActionLink("Listeye Dön", "Index")
    </p>
</body>
</html>
