﻿@model KutuphaneWeb.Models.KUTUPHANE_KULLANICI



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        <h4>KUTUPHANE_KULLANICI</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
              Kullanıcı Adı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.adi)
            </dd>
    
            <dt>
                Soyadı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.soyadi)
            </dd>
    
            <dt>
                Kütüphane
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KUTUPHANE.kutuphaneAdi)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-default" /> |
                @Html.ActionLink("Sil", "Index")
            </div>
        }
    </div>
</body>
</html>
