﻿@model KutuphaneWeb.Models.KUTUPHANE_KULLANICI



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>KUTUPHANE_KULLANICI</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.kullaniciId)
    
            <div class="form-group">
                @Html.LabelFor(model => model.adi,"Adı", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.adi)
                    @Html.ValidationMessageFor(model => model.adi)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.soyadi,"Soyadı", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.soyadi)
                    @Html.ValidationMessageFor(model => model.soyadi)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.kutuphaneId, "Kütüphane", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("kutuphaneId", String.Empty)
                    @Html.ValidationMessageFor(model => model.kutuphaneId)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Listeye Dön", "Index")
    </div>
</body>
</html>
