﻿@model IEnumerable<KutuphaneWeb.Models.KUTUPHANE_KULLANICI>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p class="silme">
        @Html.ActionLink("Yeni Kayıt", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
               Adı:
            </th>
            <th>
               Soyadı:
            </th>
            <th>
               Kütüphane:
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KUTUPHANE.kutuphaneAdi)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id=item.kullaniciId }) |
                @Html.ActionLink("Detay", "Details", new { id=item.kullaniciId }) |
                @Html.ActionLink("Sil", "Delete", new { id=item.kullaniciId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
