﻿@{
    ViewBag.Title = "Ana Sayfa";
}


<div class="Sayfa">
    <div class="arkaplan">
    </div>       <h4 class="anasayfa"> Kütüphane Tarihçesi </h4>
    <p class="paragrafbasi">
        İlk kütüphaneleri MÖ 2600 civarında Sümerlere ait tapınaklarda keşfedilen çivi yazısıyla oluşturulan eski formlardaki tabletlerin bulunduğu arşivler oluşturmaktadır.
         Bu arşivler tarihin başlangıcı ve tarih öncesi dönemlerin son zamanarını işaret etmekte ve ticari faliyetlere ilişkin tutulmuş kayıtlarla ticari stoklara ilişkin bilgileri barındırmaktaydı.
         Ayrıca bu benzeri içeriklere, hükümet belgelerinde ve tapınaklardaki Eski Mısırlılarca icat edilen papirüslerin üzerindeki kayıtlarda da rastlanmaktadır. 
        İlk keşfedilen özel arşivler yazışma ve stok kayıtlarının yanı sıra yeni katiplerin eğitimi için efsanelerle ilgili metinlerin standartlaştırılmasını sağlamak amacıyla Ugarit'de tutulan kayıtlardan oluşmaktadır. 
        MÖ 700'lerde Nineve'de ve MÖ 1900 civarında Nippur'daki kütüphanelerin yapısı, günümüzde de kullanılan sınıflama sistemlerinin tarihin ilk dönemlerinde de kullanıldığınız bir kanıtını oluşturmaktadır.
        Filozof Laozi, Zhou Hanedanlığına ait imparatorluğun sahip olduğu kütüphaneye ait kitapların koruyucusudur.[10] Ayrıca kütüphanelerin varlığına kanıt olarak olarak gösterilen eski tarihi eser kalıntılarında
         kataloglama sisteminin varlığına ilişkin kayıtlarda bulunmuştur.[10] Mısır ve Mezapotamyadaki kil tabletler, MÖ 3500-2500 yıllarında Mezapotamyada çivi ve 
        Mısırda hiyeroglif yazıları, piktografik yazının gelişmesiyle beraber biçimlenmiş, gelişmiş ve yazılı belgelerin gittikçe artmasına neden olmuştur. Zamanla artan kültürel ve 
        ekonomik ilişkiler sonucunda sayıları fazlalaşan içeriği devletler arası anlaşmalar, kanun ve buyrultular, yönetmelikler, yabancılara ilişkin kayıtlar, rahipler ve hukukla ilgili listeler olan bu yazılı belgeleri 
        bulunduran arşivler ilk kütüphanelere örnek gösterilmiştir.
        <div class="arkaplan">
            <img src="~/Content/image/eskiktp.jpg" width="750" />
        </div>
    </p>
    <div>
        <h6> İslami Alanda Kütüphaneler </h6>
        <p class="paragrafbasi">
            8. yüzyıldan itibaren ilk olarak İranlılar ve Araplar Çinlilerden kağıt yapımını öğrenmeye başlamışlar ve
             794 de Bağdat’ta kurulan kağıt fabrikası ile kağıt üretimine başlamışlardır.
             9. Yüzyıldan itibaren pek çok islam şehrinde “Bilim Salonu” olarak tabir edilen halk kütüphaneleri faaliyet 
            göstermeye başlamıştır. Laik bilginin yayılmasını teşfik etmek amacıyla islam mezheplerinin ilkelerinin 
            temsil edilmesi için kütüphanelere kitap bağışlarında bulunulmuştur.Bu dönemde kitaplar konularına göre sınıflandı.
             Kütüphanelere dahil edilmesinin ardından düzenlenen materyallerin konu başlıkları, yazarın soyadı ya da kitabın 
            adına göre yapılmadı. Ayrıca İslami kütüphanelerin bir özelliği ise kendi kataloğuna sahip ilk kütüphaneler olabilmesidir.
             Raflara ilişkin bilgiler ise her rafın sonunda iliştirilen kağıtta yazılmıştır. 
            Bu kütüphaneler halkın erişimine en uygun kütüphane özelliği de taşımaktadır. 
            Bu halka açık nitelikteki kütüphaneler Akademik, özel ve cami kütüphaneleri ile beraber oldukça rağbet görmüştür. 
            Bilgi halife ve prensler gibi toplum yapısındaki en elit kesimin yanı sıra sıradan insanlar içinde sunulan bir niteliğe
             sahip olmaktadır. Bazı kütüphanelerin kayıtlarına göre 200'e kadar kitabın ödünç verilmesine izin verilebiliyor ve bu 
            durum neticesinde bilgi ihtiyacı olan araştırmacılar ve okuyucular için daha rahat araştırma yapma imkanı sağlıyordu. 
            Bazı odalarda daha rahat okuma ortamı oluşturulması açısından halıların serili olduğu söylenmektedir. 
            İslam Kütüphanelerin içeriğini oluşturan materyaller, kısmen İspanya ve Sicilya'da ki Müslüman ve 
            Hristiyan bölgelerinde, Hristiyan keşişler tarafından kopyalanarak sağlanmaktaydı. Kopyalanan kaynaklar 
            arasında hem batıdaki Hristiyanların yapmış oldukları Bizans ile ilgili çalışmalar hemde Roma ve 
            Yunan kökenine dayanan keşişlerin saklamış oldukları çalışma kayakları yer almaktaydı. 
            Sonuç olarak oluşturulan bu kütüphaneler bugünkü modern kütüphanelerin temelini oluşturmaktadır. 
            Budist Yazıtlar, eğitim alanındaki materyaller ve tarihi bilgiler Güney Asya'da modern dönem öncesindeki 
            kütüphanelerde depolanmaktadır.Burmada Pitaka Taik isimli kraliyet kütüphanesi Kral Anawrahta 
            tarafından destansı bir biçimde kuruldu. 18. yy da İngiliz Elçisi Michael Symes, kütüphaneyi
             ziyareti sırasında, "Tuna nehri kıyılarından Çin sınırına kadar herhangi bir hükümdar 
            Birman Majestesi kadar fazla kütüphaneye sahip olması mümkün değil" diye not düşmüştü. 
            Tayland'da ise ho trai adı taşıyan kütüphaneler böceklerin kitapları yemesini önlemeyi sağlamak
             amacıyla genellikle kıyı şeritleri boyunca su birikintileri üzerinde kurulmuştur.
            <div class="arkaplan">

                <img src="~/Content/image/t%c3%bcrkislam.jpg" width="750" />

            </div>
        </p>
    </div>
    <div>
        <h6> Türklerde Kütüphaneler </h6>
        <p class="paragrafbasi">
            Türklere ait ilk kütüphane Orta Asya'da Uygurlar döneminde kuruldu.Karahoça ve 
            Turfan kazılarının sonucunda 30 bin adet yazma orta çıkarıldı. 
            Türklerin islamiyeti kabul ettikten sonra kurdukları ilk devlet olan
             Gaznelilere ait Gazneli Mahmutun Büyük Saray Kütüphanesi ise önemli bir diğer kütüphane olmuştur. 
            Büyük Selçuklu Devleti döneminde bunun devamı olarak başkent Merv'de cami içinde bulunan 
            Aziziye ve Kemaliye kütüphaneleri ve Medrese-i Amidiye içindeki Medrese ve Hatuniye 
            kütüphaneleri gibi 10 tane daha kütüphane kuruldu. Nizamülmülk'ün Bağdat ve Nişapur'da kurduğu
             Nizamiye medreselerindeki kütüphanelere ait yazma eserler günümüze kadar korundu. Anadolu Selçuklularında 
            ise kütüphaneler daha çok Konya'da toplanmıştır ve birçok İslam bilginin faydalandığı Sedreddin Konevi 
            Kütüphanesi'nden 61 kadar yazma günümüze ulaşmıştır. Osmanlılar döneminde kütüphaneler genellikle medrese
             bünyelerinde yer alan Medrese Kütüphaneleridir. İlki Osman Bey döneminde İznik'te ikincisi ise Lala Şahin 
            Bey döneminde Bursa'da kurulmuştur. İstanbulun alınmasından sonra da kurulan medreselerin içerisinde kütüphaneler 
            yer aldı. Osmanlı Devleti'nde ki bir diğer kütüphane türü olan Camii Kütüphaneleri yazma eserlerden oluşmaktaydı. 
            Bir köşede duran dolapta kaynakların saklandığı bu kütüphanelerde elyazması'nın yanı sıra; hadis, akaid, fıkıh 
            ile ilgili eserler ve kur'an bulunmaktadır ve bu koleksiyonlar herkesin kullanımına sunulmuştur.İstanbulda 
            Fatih, Şehzade, Eyüp Sultan, Süleymaniye, Beyazıt başta olmak üzere birçok camide; Anadoluda da Bursa, Van, 
            Kütahya, Sivas gibi kentlerde de Camii Kütüphaneleri kurulmuştur.
           
        </p>
    </div>

   
  
  
 
</div>



