﻿@model KutuphaneWeb.Models.YAYIN_EVI


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>YAYIN_EVI</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                Yayın Evi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yayinEviAdi)
            </dd>

            <dt>
                Adres
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adress)
            </dd>

            <dt>
                Kayıt Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kayitTarihi)
            </dd>

            <dt>
                Kaydeden Kullanıcı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kullaniciId)
            </dd>

            <dt>
                Güncelleme Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guncellemeTarihi)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Güncelle", "Edit", new { id = Model.yayinEviId }) |
        @Html.ActionLink("Listeye Dön", "Index")
    </p>
</body>
</html>
