﻿@model KutuphaneWeb.Models.YAYIN_EVI


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>YAYIN_EVI</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.yayinEviId)
            @Html.HiddenFor(model => model.kayitTarihi)
            @Html.HiddenFor(model => model.guncellemeTarihi)
            @Html.HiddenFor(model => model.kullaniciId)
                              
            <div class="form-group">
                @Html.LabelFor(model => model.yayinEviAdi,"Yayın Evi", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.yayinEviAdi)
                    @Html.ValidationMessageFor(model => model.yayinEviAdi)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.adress,"Adres", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.adress, new { @class = "whatever-class", @cols = 30, @rows = 5 })
                    @Html.ValidationMessageFor(model => model.adress)
                </div>
            </div>
                
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Listeye Dön", "Index")
    </div>
</body>
</html>
