﻿@model IEnumerable<KutuphaneWeb.Models.YAYIN_EVI>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Yeni Kayıt", "Create")
    </p>
    <table class="product-table">
        <tr>
            <th>
                Yayınevi
            </th>
            <th>
                Adres
            </th>
          
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.yayinEviAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adress)
            </td>
           
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id=item.yayinEviId }) |
               
                @Html.ActionLink("Sil", "Delete", new { id=item.yayinEviId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
