﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KutuphaneWeb</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <img src="~/Content/image/logo.png" height="70" width="80" />
                </div>

            </div>
            <div class="menu">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Ana Sayfa", "Index", "Home")
                    </li>
                    <li style="width: 200px">
                        @Html.ActionLink("Kütüphane İşlemleri", "", "")
                    <ul class="sub-menu">
                        <li>@Html.ActionLink("Kütüphane Ekle", "Create", "Kutuphane")</li>
                        <li>@Html.ActionLink("Kullanıcı Ekle", "Create", "KullaniciDetay")</li>
                    </ul>
                </li>
                    <li style="width:200px">
                        @Html.ActionLink("Kitap İşlemleri", "", "")
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Kitap Ekle", "Create", "Kitap")</li>
                            <li>@Html.ActionLink("Kitap Listele", "Index", "Kitap")</li>
                            <li>@Html.ActionLink("Yazar Ekle", "Create", "Yazar")</li>
                            <li>@Html.ActionLink("YayınEvi Ekle", "Create", "YayinEvi")</li>
                            


                        </ul>
                    </li>
                    <li style="width: 250px">
                        @Html.ActionLink("Ödünç Kitap İşlemleri", "", "")
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Ödünç Kitap Ver", "Create", "OduncKitap")</li>
                            <li>@Html.ActionLink("Üye Kaydet", "Create", "Uye")</li>
                            <li>@Html.ActionLink("Üye Listele", "Index", "Uye")</li>
                        </ul>
                    </li>
                </ul>
                <li style="width:1000px; ">
                    @Html.Partial("_LoginPartial")
                </li>
            </div>
            </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KütüphaneWEB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
