﻿@model KutuphaneWeb.Models.KitapOduncModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>
        @Html.ActionLink("Yeni Kayıt", "Create")
    </p>
    <div class="arkaplan">
        <div>
            <table class="product-table">

                <tr>
                    <td class="ana-colon">
                        Kitap Adı
                    </td>
                    <td class="ana-colon">
                        @Html.TextBox("kitapAdi")
                    </td>
                <tr>
                    <td class="ana-colon">
                        Yazar Adı
                    </td>
                    <td class="ana-colon">
                        @Html.TextBox("yazarAdi")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">
                        Yazar Soyadı
                    </td>
                    <td class="ana-colon">
                        @Html.TextBox("yazarSoyadi")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">Ödünc Durumu</td>
                    <td class="ana-colon">
                        @Html.DropDownList("secilenDurum", ViewBag.secilenDurum as SelectList, "------")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">
                        Üye Id
                    </td>
                    <td class="ana-colon">
                        @Html.TextBox("uyeId")
                    </td>
                </tr>

                <tr>

                    <td class="ana-colon"></td>
                    <td class="ana-colon">
                        <button type="button" id="details" value="Listele">Listele</button>
                    </td>

                </tr>
            </table>
            <hr />
        </div>

        <div id="content">
            <table class="table">
                <tr class="anasatir">
                    <th>  Kitap</th>
                    <th> ISBN Kodu</th>
                    <th> Yazar</th>
                    <th> Türü</th>
                    <th> Sayfa Sayisi</th>
                    <th> YayınEvi</th>
                    <th> Yayın Tarihi</th>
                    <th> Durumu</th>
                    <th> Veriliş Tarihi</th>
                    <th> Teslim Taarihi</th>
                    <th> Güncelle/Detay/Sil</th>
                </tr>
            </table>
        </div>

    </div>
    @section Scripts {
        <script type="text/javascript" src="jquery-1.9.0.js"></script>
        <script type="text/javascript" src="jquery-ui-1.10.0.custom.js"></script>
        <link rel="stylesheet" href="demos.css" />
        <link type="text/css" rel="Stylesheet" href="smoothness/bootstrap.css" />
        <link rel="stylesheet" href="jquery-ui-1.10.0.custom.min.css" />
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                //_____________________________________________________________________________________________________
                $('#details').click(function () {
                    var kitapA = $('#kitapAdi').val();
                    var yzrA = $('#yazarAdi').val();
                    var yzrS = $('#yazarSoyadi').val();
                    var od = $('#secilenDurum').val();
                    var uye = $('#uyeId').val();

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("OduncKitapListesi", "OduncKitap")',
                        data: { kitapAdi: kitapA, yazarAdi: yzrA, yazarSoyadi: yzrS, oduncDurumu: od, uyeId: uye }
                    })
                        .done(function (kitapList) {
                            var items = '<table class="table">'
                             + '<tr class="anasatir">'

                                + ' <th>  Kitap</th>'
                                + ' <th> ISBN Kdu</th>'
                                + ' <th>   Yazar</th>'
                                + ' <th>  Türü</th>'
                                + ' <th>  Sayfa Sayısı</th>'
                                + ' <th>  Yayınevi</th>'
                                + ' <th>  Yayın Tarihi</th>'
                                + ' <th> Durumu</th>'
                                + ' <th> Veriliş Tarihi</th>'
                                + ' <th> Son Tarihi</th>'
                                + ' <th> Ödünç Ver/İade/Uzatma</th>'
                             + '</tr>';

                            $.each(kitapList, function (i, ktp) {
                                var str = '';
                                if (ktp.oduncDurumu == false) {
                                    str = '<a href="Odunc/' + ktp.kitapID + '" target="_blank">Ödünç Ver</a>';
                                } else {
                                    str = '<a href="Iade/' + ktp.kitapOduncId + '"target="_blank">İade Et</a>/ '
                                    + '<a href="Uzat/' + ktp.kitapOduncId + '"target="_blank">Gün Uzat</a>';
                                }

                                items += '<tr>'
                                + '<td>' + ktp.kitapAdi + '</td>'
                                + '<td>' + ktp.isbnKod + '</td>'
                                + '<td>' + ktp.yazarAdiSoyadi + '</td>'
                                + '<td>' + ktp.turId + '</td>'
                                + '<td>' + ktp.sayfaSayisi + '</td>'
                                + '<td>' + ktp.yayinEviAdi + '</td>'
                                + '<td>' + ktp.yayinTarihi + '</td>'
                                + '<td>' + ktp.statuString + '</td>'
                                + '<td>' + ktp.emanetTarihi + '</td>'
                                + '<td>' + ktp.songunTarihi + '</td>'
                                + '<td>'
                                + str
                                + '</td>'
                           + '</tr>';
                            });
                            items += '</table>';
                            $("#content").empty();
                            $('#content').html(items);
                        })
                

                  .fail(function () { alert("hata oluştu"); });

                });


            });

        </script>
        @Scripts.Render("~/bundles/jqueryval")
    }


</body>
</html>
