﻿@model KutuphaneWeb.Models.KITAP_ODUNC

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>KITAP_ODUNC</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.emanetTarihi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emanetTarihi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sonGunTarihi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sonGunTarihi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.teslimTarihi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.teslimTarihi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.oduncDurumu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.oduncDurumu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.kayitTarihi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kayitTarihi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.kullaniciId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kullaniciId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.guncellemeTarihi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.guncellemeTarihi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KITAP.kitapAdi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KITAP.kitapAdi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UYE.ad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UYE.ad)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.kitapOduncId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
