﻿@model KutuphaneWeb.Models.KITAP_ODUNC



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>KITAP_ODUNC</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.kitapOduncId)
    
            <div class="form-group">
                @Html.LabelFor(model => model.emanetTarihi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.emanetTarihi)
                    @Html.ValidationMessageFor(model => model.emanetTarihi)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.sonGunTarihi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sonGunTarihi)
                    @Html.ValidationMessageFor(model => model.sonGunTarihi)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.teslimTarihi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.teslimTarihi)
                    @Html.ValidationMessageFor(model => model.teslimTarihi)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.kitapId, "kitapId", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("kitapId", String.Empty)
                    @Html.ValidationMessageFor(model => model.kitapId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.uyeId, "uyeId", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("uyeId", String.Empty)
                    @Html.ValidationMessageFor(model => model.uyeId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.oduncDurumu, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.oduncDurumu)
                    @Html.ValidationMessageFor(model => model.oduncDurumu)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.kayitTarihi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.kayitTarihi)
                    @Html.ValidationMessageFor(model => model.kayitTarihi)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.kullaniciId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.kullaniciId)
                    @Html.ValidationMessageFor(model => model.kullaniciId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.guncellemeTarihi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.guncellemeTarihi)
                    @Html.ValidationMessageFor(model => model.guncellemeTarihi)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
