﻿@model KutuphaneWeb.Models.KitapOduncModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="arkaplan">
        <div>
            <table class="product-table">
                <tr>
                    <td class="ana-colon">
                        Yazar
                    </td>
                    <td class="ana-colon">
                        @Html.TextBox("yazarAdi")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">
                        Yazar Soyadı
                    </td>
                    <td class="ana-colon">
                        @Html.TextBox("yazarSoyadi")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">Kitap Türü</td>
                    <td class="ana-colon">
                        @Html.DropDownList("turId", ViewBag.turId as SelectList, "---Seçiniz---")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">Üye</td>
                    <td class="ana-colon">
                        @Html.DropDownList("uyeId", ViewBag.uyeId as SelectList, "---Seçiniz---")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">Ödünç Durumu</td>
                    <td class="ana-colon">
                        @Html.DropDownList("oduncDurumu", ViewBag.oduncDurumu as SelectList, "---Seçiniz---")
                    </td>
                </tr>
                <tr>
                <tr>
                    <td class="ana-colon"></td>
                    <td class="ana-colon">
                        <button type="button" id="details" value="Listele">Listele</button>
                    </td>

                </tr>
            </table>
            <hr />
        </div>

        <div id="content">
            <table class="table">
                <tr class="anasatir">

                    <th>  Kitap</th>
                    <th> ISBN Kodu</th>
                    <th> Yazar</th>
                    <th> Türü</th>
                    <th> Sayfa Sayisi</th>
                    <th> YayınEvi</th>
                    <th> Yayın Tarihi</th>
                    <th> Kayıt Tarihi</th>
                    <th> Güncelleme Tarihi</th>
                    <th> Güncelle/Detay/Sil</th>
                </tr>
            </table>
        </div>

    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            //_____________________________________________________________________________________________________
            $('#details').click(function () {
                var yzrA = $('#yazarAdi').val();
                var yzrS = $('#yazarSoyadi').val();
                var tur = $('#turId').val();
                var uye = $('#uyeId').val();
                var o_durum = $('#oduncDurumu').val();

                if (tur == '')
                    tur = 0;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("OduncKitapListesi", "OduncKitap")',
                    data: { yazarAdi: yzrA, yazarSoyadi: yzrS, turId: tur, uyeId: uye, oduncDurumu: o_durum }
                })
                    .done(function (kitapList) {
                        var items = '<table class="table">'
                         + '<tr class="anasatir">'

                            + ' <th>  Kitap</th>'
                            + ' <th> ISBN Kdu</th>'
                            + ' <th>   Yazar</th>'
                            + ' <th>  Türü</th>'
                            + ' <th>  Sayfa Sayısı</th>'
                            + ' <th>  Yayınevi</th>'
                            + ' <th>  Yayın Tarihi</th>'
                            + ' <th> Kayıt Tarihi</th>'
                            + ' <th> Güncelleme Tarihi</th>'
                            + ' <th> Güncelle/Detay/Sil</th>'
                         + '</tr>';

                        $.each(kitapList, function (i, ktp) {
                            items += '<tr>'
                            + '<td>' + ktp.kitapAdi + '</td>'
                            + '<td>' + ktp.isbnKod + '</td>'
                            + '<td>' + ktp.yazarAdiSoyadi + '</td>'
                            + '<td>' + ktp.turId + '</td>'
                            + '<td>' + ktp.sayfaSayisi + '</td>'
                            + '<td>' + ktp.yayinEviAdi + '</td>'
                            + '<td>' + ktp.yayinTarihi + '</td>'
                            + '<td>' + ktp.kayitTarihi + '</td>'
                            + '<td>' + ktp.guncellemeTarihi + '</td>'
                            + '<td>'
                                    + '<a href="OduncKitap/Edit/' + ktp.kitapOduncId + '" target="_blank">Güncelle</a>/'
                                    + '<a href="OduncKitap/Details/' + ktp.kitapOduncId + '"target="_blank">Detay</a>/'
                                    + '<a href="OduncKitap/Delete/' + ktp.kitapOduncId + '"target="_blank">Sil</a>'
                            + '</td>'


                       + '</tr>';
                        });
                        items += '</table>';
                        $("#content").empty();
                        $('#content').html(items);
                    })
              .fail(function () { alert("hata oluştu"); });

            });

            function duzenle() {
                alert('merhaba');
            }


        });

    </script>

</body>
</html>
