﻿@model KutuphaneWeb.Models.KitapOduncModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.kitapId)

            <dl class="dl-horizontal">

                <dt>
                    Kitap Adı
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.kitapAdi)
                </dd>

                <dt>
                    Yazarı
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.yazarAdi)

                </dd>

            </dl>
            <div class="form-group">
                @Html.LabelFor(model => model, "Teslim Tarihi", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.songunTarihi)
                    @Html.ValidationMessageFor(model => model.songunTarihi)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model, "Üye Numarası", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.uyeId)
                    @Html.ValidationMessageFor(model => model.uyeId)
                </div>
            </div>
            <div class="form-group">
                <button type="button" id="btnOduncVer" value="Listele">Ödünç Ver</button>
            </div>
            <div id="content">
                <table class="table">
                    <tr class="anasatir">
                        <th>  Kitap</th>
                        <th> ISBN Kodu</th>
                        <th> Yazar</th>
                        <th> Türü</th>
                        <th> Sayfa Sayisi</th>
                        <th> YayınEvi</th>
                        <th> Yayın Tarihi</th>
                        <th> Durumu</th>
                        <th> Veriliş Tarihi</th>
                        <th> Teslim Taarihi</th>
                    </tr>
                </table>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Listeye Dön", "Index")
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            //_____________________________________________________________________________________________________
            $('#btnOduncVer').click(function () {
                var ktpA = $('#kitapId').val();
                var uye = $('#uyeId').val();
                var tt = $('#songunTarihi').val(); 

                if (uye == '' || uye == 0) {
                    aler("üye numrası giriniz")
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("OduncVer", "OduncKitap")',
                    data: { kitapId: ktpA, uyeId: uye, songunTarihi: tt }
                })
                       .done(function (projectList) {
                           KitapGetir();
                       })
                    .done(alert("İşlem Başarılı"))

          .fail(function () { alert("hata oluştu"); });
            });
        });
        function KitapGetir() {
            var uye = $('#uyeId').val(); 
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("OduncListesi", "OduncKitap")',
                    data: { kitapAdi: '', yazarAdi: '', yazarSoyadi: '', uyeId: uye }
                })
              .done(function (kitapList) {
                  var items = '<table class="table">'
                   + '<tr class="anasatir">'

                                + ' <th>  Kitap</th>'
                                + ' <th> ISBN Kdu</th>'
                                + ' <th>   Yazar</th>'
                                + ' <th>  Türü</th>'
                                + ' <th>  Sayfa Sayısı</th>'
                                + ' <th>  Yayınevi</th>'
                                + ' <th>  Yayın Tarihi</th>'
                                + ' <th> Durumu</th>'
                                + ' <th> Veriliş Tarihi</th>'
                                + ' <th> Teslim Tarihi</th>'
                             + '</tr>';

                  $.each(kitapList, function (i, ktp) {
                      items += '<tr>'
                      + '<td>' + ktp.kitapAdi + '</td>'
                      + '<td>' + ktp.isbnKod + '</td>'
                      + '<td>' + ktp.yazarAdiSoyadi + '</td>'
                      + '<td>' + ktp.turId + '</td>'
                      + '<td>' + ktp.sayfaSayisi + '</td>'
                      + '<td>' + ktp.yayinEviAdi + '</td>'
                      + '<td>' + ktp.yayinTarihi + '</td>'
                      + '<td>' + ktp.statuString + '</td>'
                      + '<td>' + ktp.emanetTarihi + '</td>'
                      + '<td>' + ktp.teslimTarihi + '</td>'
                 + '</tr>';
                  });
                  items += '</table>';
                  $("#content").empty();
                  $('#content').html(items);
              })
              .fail(function () { alert("PBI getirilirken hata oluştu"); });
        }
    </script>
</body>
</html>
