﻿@model KutuphaneWeb.Models.KITAP


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>KITAP</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.kutuphaneId, "Kütüphane", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("kutuphaneId", String.Empty)
                    @Html.ValidationMessageFor(model => model.kutuphaneId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.kitapAdi, "Kitap Adı", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.kitapAdi)
                    @Html.ValidationMessageFor(model => model.kitapAdi)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.isbnKod,"ISBN Kodu", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.isbnKod)
                    @Html.ValidationMessageFor(model => model.isbnKod)
                </div>
            </div>    
            <div class="form-group">
                @Html.LabelFor(model => model.yazarId, "Yazarı", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("yazarId", String.Empty)
                    @Html.ValidationMessageFor(model => model.yazarId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.turId, "Türü", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("turId", String.Empty)
                    @Html.ValidationMessageFor(model => model.turId)
                </div>
            </div>
           
    
            <div class="form-group">
                @Html.LabelFor(model => model.yayinTarihi,"Yayın Tarihi", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.yayinTarihi)
                    @Html.ValidationMessageFor(model => model.yayinTarihi)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.sayfaSayisi,"Sayfa Sayfası", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sayfaSayisi)
                    @Html.ValidationMessageFor(model => model.sayfaSayisi)
                </div>
            </div>
    
          
            <div class="form-group">
                @Html.LabelFor(model => model.yayinEviId, "Yayınevi", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("yayinEviId", String.Empty)
                    @Html.ValidationMessageFor(model => model.yayinEviId)
                </div>
            </div>
    
          
    
           
              
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Listeye Dön", "Index")
    </div>
</body>
</html>
