﻿@model KutuphaneWeb.Models.KITAP

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>KITAP</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                Kütüphane Adı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KUTUPHANE.kutuphaneAdi)
            </dd>
            <dt>
                Kitap Adı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitapAdi)
            </dd>

            <dt>
                ISBN Kodu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isbnKod)
            </dd>

            <dt>
                Yazarı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.YAZAR.yazarAdi)
            </dd>
            <dt>
                Kitap Türü
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KITAP_TURU.kitapTuru)
            </dd>
            <dt>
                Yayın Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yayinTarihi)
            </dd>

            <dt>
                Sayfa Sayısı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sayfaSayisi)
            </dd>

            <dt>
                Yayın Evi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.YAYIN_EVI.yayinEviAdi)
            </dd>

            <dt>
                Kayıt Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kayitTarihi)
            </dd>

            <dt>
                Kaydeden Kullanıcı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kullaniciId)
            </dd>

            <dt>
                Güncelleme Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guncellemeTarihi)
            </dd>

           

        </dl>
    </div>
    <p>
        @Html.ActionLink("Güncelle", "Edit", new { id = Model.kitapId }) |
        @Html.ActionLink("Listeye Dön", "Index")
    </p>
</body>
</html>
