﻿@model KutuphaneWeb.Models.KitapModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Yeni Kayıt", "Create")
    </p>
    <div class="arkaplan">
        <div>
            <table class="product-table">
                <tr>
                    <td class="ana-colon">
                        Yazar
                    </td>
                    <td class="ana-colon">
                        @Html.TextBox("yazarAdi")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">
                        Yazar Soyadı
                    </td>
                    <td class="ana-colon">
                        @Html.TextBox("yazarSoyadi")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">Kitap Türü</td>
                    <td class="ana-colon">
                        @Html.DropDownList("turId", ViewBag.turId as SelectList, "------")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">
                        Yayınevi
                    </td>
                    <td class="ana-colon">
                        @Html.TextBox("yayinEviAdi")
                    </td>
                </tr>
                <tr>
                    <td class="ana-colon">Yayın Tarihi Aralığı</td>
                    <td class="ana-colon">
                        @Html.EditorFor(model => model.yayinTarihiBas)
                        @Html.EditorFor(model => model.yayinTarihiSon)


                    </td>
                </tr>


            
                <tr>

                    <td class="ana-colon">
                    </td>
                    <td class="ana-colon">
                        <button type="button" id="details" value="Listele">Listele</button>
                    </td>

                </tr>
            </table>
            <hr />
        </div>

        <div id="content">
            <table class="table">
                <tr class="anasatir">
                    
                    <th>  Kitap</th>
                    <th> ISBN Kodu</th>
                    <th> Yazar</th>
                    <th> Türü</th>
                    <th> Sayfa Sayisi</th>
                    <th> YayınEvi</th>
                    <th> Yayın Tarihi</th>
                    <th> Kayıt Tarihi</th>
                    <th> Güncelleme Tarihi</th>
                    <th> Güncelle/Detay/Sil</th>
                </tr>
            </table>
        </div>

    </div>
  @section Scripts {
    <script type="text/javascript" src="jquery-1.9.0.js"></script>
    <script type="text/javascript" src="jquery-ui-1.10.0.custom.js"></script>
    <link rel="stylesheet" href="demos.css" />
    <link type="text/css" rel="Stylesheet" href="smoothness/bootstrap.css" />
    <link rel="stylesheet" href="jquery-ui-1.10.0.custom.min.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //_____________________________________________________________________________________________________
            $('#details').click(function () {
                var yzrA = $('#yazarAdi').val();
                var yzrS = $('#yazarSoyadi').val();
                var tur = $('#turId').val();
                var yevi = $('#yayinEviAdi').val();
                var pStartD = $('#yayinTarihiBas').val();
                var pEndD = $('#yayinTarihiSon').val();

                if (tur == '')
                    tur = 0;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("KitapListesi", "Kitap")',
                    data: { yazarAdi: yzrA, yazarSoyadi: yzrS, turId: tur, yayinEviAdi: yevi, yayinTarihiBas: pStartD, yayinTarihiSon: pEndD }
                })
                    .done(function (kitapList) {
                        var items = '<table class="table">'
                         + '<tr class="anasatir">'
                           
                            + ' <th>  Kitap</th>'
                            + ' <th> ISBN Kdu</th>'
                            + ' <th>   Yazar</th>'
                            + ' <th>  Türü</th>'
                            + ' <th>  Sayfa Sayısı</th>'
                            + ' <th>  Yayınevi</th>'
                            + ' <th>  Yayın Tarihi</th>'
                            + ' <th> Kayıt Tarihi</th>'
                            + ' <th> Güncelleme Tarihi</th>'
                            + ' <th> Güncelle/Detay/Sil</th>'
                         + '</tr>';

                        $.each(kitapList, function (i, ktp) {
                            items += '<tr>'
                            + '<td>' + ktp.kitapAdi + '</td>'
                            + '<td>' + ktp.isbnKod + '</td>'
                            + '<td>' + ktp.yazarAdiSoyadi + '</td>'
                            + '<td>' + ktp.turId + '</td>'
                            + '<td>' + ktp.sayfaSayisi + '</td>'
                            + '<td>' + ktp.yayinEviAdi + '</td>'
                            + '<td>' + ktp.yayinTarihi + '</td>'
                            + '<td>' + ktp.kayitTarihi + '</td>'
                            + '<td>' + ktp.guncellemeTarihi + '</td>'
                            + '<td>'
                                    + '<a href="Kitap/Edit/' + ktp.kitapId + '" target="_blank">Güncelle</a>/'
                                    + '<a href="Kitap/Details/' + ktp.kitapId + '"target="_blank">Detay</a>/'
                                    + '<a href="Kitap/Delete/' + ktp.kitapId + '"target="_blank">Sil</a>'
                            + '</td>'


                       + '</tr>';
                        });
                        items += '</table>';
                        $("#content").empty();
                        $('#content').html(items);
                    })
              .fail(function () { alert("hata oluştu"); });

            });

            function duzenle() {
                alert('merhaba');
            }
            $("#yayinTarihiBas").datepicker({

                dateFormat: "yy-mm-dd",//tarih formatı yy=yıl mm=ay dd=gün

                autoSize: true,//inputu otomatik boyutlandırır

                changeMonth: true,//ayı elle seçmeyi aktif eder



                changeYear: true,//yılı elee seçime izin verir

                dayNames: ["pazar", "pazartesi", "salı", "çarşamba", "perşembe", "cuma", "cumartesi"],//günlerin adı

                dayNamesMin: ["pa", "pzt", "sa", "çar", "per", "cum", "cmt"],//kısaltmalar

                defaultDate: +0,//takvim açılınca seçili olanı bu günden 10 gün sonra olsun dedik

                /*isRTL: true//takvimi ters çevirir garip bi özellik :D*/

                maxDate: "+2y+1m +2w",//ileri göre bilme zamanını 2 yıl 1 ay 2 hafta yaptık

                minDate: "-1y-1m -2w",//geriyi göre bilme alanını 1 yıl 1 ay 2 hafta yaptık.bunu istediğiniz gibi ayarlaya bilirsiniz

                monthNamesShort: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],//ay seçim alanın düzenledik

                nextText: "ileri",//ileri butonun türkçeleştirdik

                prevText: "geri",//buda geri butonu için

                showAnim: "clip",//takvim açılım animasyonu alta tüm animasyon isimleri yazdım

                /*fold-blind-bounce-clip-drop-explode-fade-highlight-puff-pulsate-scale-shake-slide-size-transfer*/

                //showOn: "both",//inputun yanına ... butonu koyuyor

            });
            $("#yayinTarihiSon").datepicker({

                dateFormat: "yy-mm-dd",//tarih formatı yy=yıl mm=ay dd=gün

                autoSize: true,//inputu otomatik boyutlandırır

                changeMonth: true,//ayı elle seçmeyi aktif eder

                changeYear: true,//yılı elee seçime izin verir

                dayNames: ["pazar", "pazartesi", "salı", "çarşamba", "perşembe", "cuma", "cumartesi"],//günlerin adı

                dayNamesMin: ["pa", "pzt", "sa", "çar", "per", "cum", "cmt"],//kısaltmalar

                defaultDate: +30,//takvim açılınca seçili olanı bu günden 10 gün sonra olsun dedik

                /*isRTL: true//takvimi ters çevirir garip bi özellik :D*/

                maxDate: "+5y+1m +2w",//ileri göre bilme zamanını 2 yıl 1 ay 2 hafta yaptık

                minDate: "-2y-1m -2w",//geriyi göre bilme alanını 1 yıl 1 ay 2 hafta yaptık.bunu istediğiniz gibi ayarlaya bilirsiniz

                monthNamesShort: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],//ay seçim alanın düzenledik

                nextText: "ileri",//ileri butonun türkçeleştirdik

                prevText: "geri",//buda geri butonu için

                showAnim: "clip",//takvim açılım animasyonu alta tüm animasyon isimleri yazdım

                /*fold-blind-bounce-clip-drop-explode-fade-highlight-puff-pulsate-scale-shake-slide-size-transfer*/



            });
          


           

        });

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}


</body>
</html>
